<span class="categorias  bg-white">
        <span class="categoria">
                <a>
                        <img class="icone" src="assets/img/categorias/categoria01.png" alt="categoria de hardware">
                </a>
                <a>
                        <img class="icone" src="assets/img/categorias/categoria03.png" alt="categoria de jogos">
                </a>
                <a>
                        <img class="icone" src="assets/img/categorias/categoria05.png" alt="categoria de periféricos">
                </a>
        </span>

        <span class="categoria ">
                <a>
                        <img class="icone " src="assets/img/categorias/categoria02.png" alt="categoria de cadeiras">
                </a>
                <a>
                        <img class="icone" src="assets/img/categorias/categoria04.png" alt="categoria de smartphones">
                </a>
                <a>
                        <img class="icone" src="assets/img/categorias/categoria06.png" alt="categoria de serviços digitais">
                </a>
        </span>

</span>
