.categorias {
        display: flex;
        flex-direction: row;
        justify-content: space-between;        
        align-items: flex-end;
        padding: 0px 80px;   
        padding-bottom: 90px;
}
.categoria {
        display: flex;
        flex-direction: column;
}

.categoria .icone {
        width: 500px;
        object-fit: cover;        
}