<mat-toolbar class="header mat-elevation-z5 bg-black ">
        <span class="left-group">
                <a>
                        <i class="material-icons v-middle text-white">
                                menu
                        </i>
                </a>
        </span>

        <span>
                <a>
                        <img class="logo v-middle" src="assets/img/logotipos/logo.png" alt="logo">
                </a>
        </span>

        <span class="right-group">
                <a>
                        <i class="material-icons v-middle text-white">
                                search
                        </i>
                </a>

                <a>
                        <i class="material-icons v-middle text-white">
                                account_circle
                        </i>
                </a>
     
                <a>
                        <i class="material-icons v-middle text-white">
                                shopping_bag
                        </i>
                </a>
        </span>
</mat-toolbar>