<mat-toolbar class="footer mat-elevation-z5 bg-black">
        <span class="coluna-01">
                <h4 class="titulo text-white">
                        Institucional
                </h4>

                <a class="footer-links text-white">Sobre a Titan</a>
                <a class="footer-links text-white">Políticas do Site e Marketplace</a>
                <a class="footer-links text-white">Políticas de Privacidade</a>
                <a class="footer-links text-white">Código de Defesa do Consumidor</a>
                <a class="footer-links text-white">Código de Conduta Ética</a>
                <a class="footer-links text-white">Trabalhe Conosco</a>
        </span>

        <span class="coluna-02">
                <h4 class="titulo text-white">
                        Minha Conta
                </h4>

                <a class="footer-links text-white">Meus pedidos</a>
                <a class="footer-links text-white">Cadastrar ou Remover Newsletter</a>
                <a class="footer-links text-white">Políticas de Privacidade</a>

                <span>
                        <h4 class="titulo text-white">
                                Mídias Sociais
                        </h4>
        
                        <i>
                                <img src="assets/img/" alt="logotipo-facebook">
                        </i>
                        <a>
                                <img src="assets/img/" alt="logotipo-instagram">
                        </a>
                </span>
        </span>

        <span class="coluna-03">
                <h4 class="titulo text-white">
                        Atendimento
                </h4>

                <h5 class="footer-links text-white">Horário de atendimento: <br>
                        08:00 às 20:00 - <br>
                        Segunda a Sábado <br>
                         horário de Brasília <br>
                         (exceto domingo e feriados)</h5>
        </span>

        <span class="coluna-04">
                <h4 class="titulo text-white">
                        Central SAC:
                </h4>

                <a class="footer-links text-white">Meus pedidos</a>
                <a class="footer-links text-white">Cadastrar ou Remover Newsletter</a>
                <a class="footer-links text-white">Políticas de Privacidade</a>

                <span class="link-apps">        
                        <a>
                                <!-- <img src="assets/img/footer/googleplay.png" alt="logotipo-facebook"> -->
                        </a>
                        <a>
                                <!-- <img src="assets/img/footer/appstore.png" alt="logotipo-instagram"> -->
                        </a>
                </span>
        </span>
        <span class="coluna-05">
                <a>
                        <img class="logotipo" src="assets/img/logotipos/footer.png" alt="logotipo">
                </a>
        </span>
        <span class="marca text-white">
                <h3>Todos os direitos reservados</h3>
        </span>

</mat-toolbar>
