<span class="forms-title-group bg-white">
                <h1 class="forms-title">identificação</h1>
</span>
<div class="forms bg-white">
        <form (ngSubmit)="onsubmit()" class="forms-login" #userform="ngForm">
                <span class="forms-login-group-text">
                        <h2 class="forms-login-text">já tenho cadastro</h2>                        
                </span>

                <span class="p-input-icon-right p-float-label">
                        <input type="email" name="email" id="email" [(ngModel)]="userModel.email" required />
                        <label for="float-input">E-mail</label>
                </span>

                <span class="p-input-icon-right p-float-label">
                        <i class="pi pi-eye"></i>
                        <input type="password" name="password" id="password" [(ngModel)]="userModel.password" required />
                        <label for="float-input">Senha</label>
                </span>
                <button pButton pRipple type="submit" label="ENTRAR" class="p-button-raised p-button-danger" [disabled]="form.form.invalid"></button>

                <span class="recuperacao">
                        <a class="recuperacao-link">
                                esqueci meu login
                        </a>
                        <a class="recuperacao-link">
                                esqueci minha senha
                        </a>
                </span>

                <div class="linha-horizontal"></div>

                <div class="acesso-alternativo">
                        
                        <span class="acesso-titulo">
                                <h3 class="acesso-titulo">acesse com as redes sociais</h3>
                        </span>

                        <div class="acesso-links">                        
                                <a acesso-links>
                                        <img class="acesso-imagem" src="assets/img/logincadastro/footerfacebook.png" alt="Acesso pelo facebook">
                                </a>
                                <a>
                                        <img class="acesso-imagem" src="assets/img/logincadastro/footergoogle.png" alt="Acesso pelo facebook">
                                </a>
                        </div>
                </div>

        </form>

        <div class="linha-vertical"></div>
        
        <form (ngSubmit)="onsubmit()" class="forms-login" #form="ngForm">
                <span class="forms-login-group-text">
                        <h2 class="forms-login-text">quero me cadastrar</h2>                        
                </span>

                <span class="p-input-icon-right p-float-label">
                        <input type="email" required />
                        <label for="float-input">E-mail</label>
                </span>

                <span class="p-input-icon-right p-float-label">
                        <i class="pi pi-eye"></i>
                        <input type="password" required />
                        <label for="float-input">Crie sua senha</label>
                </span>

                <span class="p-input-icon-right p-float-label">
                        <i class="pi pi-eye"></i>
                        <input type="password" required />
                        <label for="float-input">Confirme sua senha</label>
                </span>

                <span class="p-input-icon-right p-float-label">
                        <input type="tel" required Mask/>
                        <label for="float-input" >CPF ou CPNJ</label>
                </span>

                <span class="p-input-icon-right p-float-label">
                        <input type="tel" required />
                        <label for="float-input">CEP</label>
                </span>
                <button pButton pRipple type="button" label="CADASTRAR" class="p-button-outlined p-button-danger" [disabled]="form.form.invalid"></button>
        </form>
</div>
